{% extends "layout.html" %}

{% block content %}
<div class="col-md-6 col-md-offset-4">
    <h1>Todo List:</h1>
    <table class="table table-striped">
        <th>#</th>
        <th>User</th>
        <th>Description</th>
        <th class='text-center'>As JSON</th>
        <th class='text-center'>Completed</th>
        <th class='text-center'>Delete</th>
        {% for todo in todos %}
            <tr>
                <td>{{ todo.id }}</td>
                <td>{{ todo.user_id }}</td>
                <td>
                    <a href="{{ app.request.baseurl }}/todo/{{ todo.id }}">
                       {{ todo.description }}
                    </a>
                </td>
                <td class='text-center'>
                    {# TASK 3: view todo in json format #}
                    <a href="{{ app.request.baseurl }}/todo/json/{{ todo.id }}" title='view as JSON'>
                       view
                    </a>
                </td>
                <td class="text-center">
                    {# TASK 2: allow set todo as completed #}
                    {% if todo.completed %}
                      Yes
                    {% else %}
                        <form method="post" action="{{ app.request.baseurl }}/todo/completed/{{ todo.id }}">
                            <button type="submit" class="btn btn-xs btn-success">No</button>
                        </form>
                    {% endif %}
                </td>
                <td class='text-center'>
                    <form method="post" action="{{ app.request.baseurl }}/todo/delete/{{ todo.id }}">
                        <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        <tr>
            {# TASK 5: output pagination #}
            <td colspan="6" class="text-center">
                {% for p in 1..pages %}
                    {% if current_page == p %}
                        <button class="small btn btn-default">{{ p }}</button>
                    {% else %}
                        <a href='{{ app.request.baseurl }}/todo?page={{p}}' class="small btn btn-primary">{{ p }}</a>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <form method="post" action="{{ app.request.baseurl }}/todo/add">
                <td colspan="5">
                    {# TASK 1: make description field required #}
                    <input type="textbox" name="description" class="small-6 small-center form-control" 
                           required placeholder="Description...">
                </td>
                <td colspan="1">
                    <button type="submit" class="btn btn-sm btn-primary">Add</button>
                </td>
            </form>
        </tr>
        <tr>
            <td colspan="6">
                {# TASK 4: show add/delete confirmation/failure message #}
                {% for message in app.session.getFlashBag.get('message') %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ message|raw }}
                    </div>
                {% endfor %}                
                {% for error in app.session.getFlashBag.get('error') %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ error|raw }}
                    </div>
                {% endfor %}                
            </td>
        </tr>
    </table>
</div>
{% endblock %}